# Created by .ignore support plugin (hsz.mobi)
.idea/
data/
lib/Cache.js
lib/Cache.js.map
lib/Captcha.js
lib/Captcha.js.map
lib/Consts.js
lib/Consts.js.map
lib/DBController.js
lib/DBController.js.map
lib/DBInit.js
lib/DBInit.js.map
lib/Emailer.js
lib/Emailer.js.map
lib/Router.js
lib/Router.js.map
lib/index.js
lib/index.js.map
node_modules/
templates/ru/
typings/bluebird/
typings/cache-manager/
typings/express-serve-static-core/
typings/express/
typings/knex/
typings/lodash/
typings/mime/
typings/node/
typings/nodemailer-direct-transport/
typings/nodemailer-smtp-transport/
typings/nodemailer/
typings/passport/
typings/serve-static/
typings/shortid/
/lib/Types.js
/lib/Types.js.map
lib/Types.js
lib/Types.js.map
/examples/feathers-app.js.map
/examples/feathers-app.js
/examples/config.js.map
/examples/config.js
