# Created by .ignore support plugin (hsz.mobi)
.idea/
data/
lib/Cache.js
lib/Cache.js.map
lib/Captcha.js
lib/Captcha.js.map
lib/Consts.js
lib/Consts.js.map
lib/DBController.js
lib/DBController.js.map
lib/Router.js
lib/Router.js.map
lib/index.js
lib/index.js.map
node_modules/
templates/ru/
typings/bluebird/
typings/cache-manager/
typings/express-serve-static-core/
typings/express/
typings/knex/
typings/lodash/
typings/mime/
typings/node/
typings/nodemailer-direct-transport/
typings/nodemailer-smtp-transport/
typings/nodemailer/
typings/passport/
typings/serve-static/
typings/shortid/
/lib/Types.js
/lib/Types.js.map
lib/Types.js
lib/Types.js.map
/examples/feathers-app.js.map
/examples/feathers-app.js
/examples/config.js.map
/examples/config.js
/lib/UsersService.js
/lib/UsersService.js.map
/lib/hooks/index.js.map
/lib/hooks/index.js
/lib/RegisterService.js
/lib/RegisterService.js.map
/lib/LoginService.js
/lib/LoginService.js.map
/lib/hooks/rejectMethods.js.map
/lib/hooks/rejectMethods.js
/lib/hooks/verifyCaptcha.js.map
/lib/hooks/verifyCaptcha.js
/lib/hooks/verifyPasswordValue.js
/lib/hooks/verifyPasswordValue.js.map
/lib/hooks/sendEmail.js.map
/lib/hooks/sendEmail.js
/lib/hooks/afterUserRegistration.js
/lib/hooks/afterUserRegistration.js.map
/test/02_Register.js.map
/test/02_Register.js
/test/01_DBController.js
/test/01_DBController.js.map
/examples/index.js
/examples/index.js.map
/lib/hooks/verifyUniqueUserEmail.js.map
/lib/hooks/verifyUniqueUserEmail.js
/lib/hooks/verifyEmail.js
/lib/hooks/verifyEmail.js.map
/lib/hooks/setTimestamps.js
/lib/hooks/setTimestamps.js.map
/lib/hooks/knexRollback.js
/lib/hooks/knexRollback.js.map
/lib/hooks/knexCommit.js
/lib/hooks/knexBeginTrn.js.map
/lib/hooks/knexCommit.js.map
/lib/hooks/knexBeginTrn.js
/lib/KnexTransactionService.js.map
/lib/KnexTransactionService.js
/lib/Emailer.js
/lib/Emailer.js.map
