<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <!--<link rel="stylesheet" href="./bower_components/framework7-icons/css/framework7-icons.css">-->
    <title><%= @ApplicationName%></title>

    <link rel="stylesheet" href="./bower_components/pure/base-min.css">
    <link rel="stylesheet" href="./bower_components/pure/grids-min.css">
    <!--[if lte IE 8]>
    <link rel="stylesheet" href="./bower_components/pure/grids-responsive-old-ie-min.css">
    <![endif]-->
    <!--[if gt IE 8]><!-->
    <link rel="stylesheet" href="./bower_components/pure/grids-responsive-min.css">
    <!--<![endif]-->
</head>
<body>
<div id="app" v-cloak>

    <div class="left sliding" style="transform: translate3d(0px, 0px, 0px);"><a href="forms.html" class="back link"><i
            class="icon icon-back" style="transform: translate3d(0px, 0px, 0px);"></i><span>Back</span></a></div>
    <% content 'body' %>
</div>

<!--<script src="./bower_components/feathers-client/dist/feathers.min.js"></script>-->
<script src="./bower_components/Framework7/dist/js/framework7.js"></script>
<script src="./bower_components/Framework7-Vue/dist/framework7-vue.min.js"></script>

<% content 'scripts' %>
</body>
</html>