<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <title><%= @ApplicationName%></title>
</head>
<body>

<% content 'body' %>

<script src="bower_components/Framework7/dist/js/framework7.js"></script>
<script src="bower_components/Framework7-Vue/dist/framework7-vue.min.js"></script>
<script src="./_build/index.js"></script>
</body>
</html>